*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.playfair-display-Letras {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar{
    display: flex;
    justify-content: space-between;
    background: rgb(10, 59, 124);
    align-items: center;
    padding: 10px 40px;
    
}

.servicio {
    display: flex;
    gap: 15px;
    align-items: center;
    width: auto;
    justify-content: center;
}

.servicio a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: color 0.3s;
    white-space: nowrap; 
}

.servicio a:hover {
    color: #f39c12;
}

.logo-imagen {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-img {
    border-radius: 5px;
}

.logo-texto{
    font-size: 25px;
    color: white;
}

.contenedor{
    display: flex;
    align-items: center;
    background-color: rgb(67, 77, 170);
    justify-content: center;
    color: rgb(255, 255, 255);
    padding: 80px 10px;
    gap: 40px;
}

.h1{
    font-size: 40px;
    margin-bottom: 10px;
}

.h2{
    font-size: 30px;
    margin-bottom: 10px;

}

.mi_nombre {
    color: #ffc400;
}

.meta, .meta2{
    margin-bottom: 5px;
    font-size: 20px;
}

.foto-perfil {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
}

.seccion-clara {
    background-color: #5b7289;
    color: #333;
    padding: 80px 10%;
}

.titulo-seccion {
    text-align: center;
    margin-bottom: 50px;
}

.titulo-seccion h2 {
    font-size: 35px;
    color: rgb(223, 178, 30);
    display: inline-block;
    border-bottom: 4px solid #ffc400;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.subtitulo {
    color: #020202;
    font-size: 18px;
}

.detalles-container {
    display: flex;
    justify-content: space-between;
    gap: 60px;
    align-items: flex-start;
}

.biografia {
    flex: 2;
    font-size: 18px;
    line-height: 1.6;
    color: #000000;
}

.biografia p {
    margin-bottom: 20px;
}

.cita {
    background-color: #fdf5e6;
    border-left: 5px solid #f39c12;
    padding: 20px;
    font-style: italic;
    color: #555;
    margin-top: 30px;
}
